# ----- DEPLOYMENT ----->>>
ci/
data/
logs/

.env
.env.*
!.env.example

deployment.json
deployments.jsonl
releases/
stars/
compose-debug.yml

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/

.venv/
venv/

node_modules/
dist/
build/

.vscode/
.idea/

.DS_Store
Thumbs.db

docker-compose.development.yml
